<?xml version="1.0" encoding="UTF-8"?>
<beans>
<!--
	<bean id="dataSource"
	class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/dataSource</value>
		</property>
	</bean>-->
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="jdbcUrl" value="${dataSource.jdbcUrl}"/>
		<property name="user" value="${dataSource.user}"/> 
		<property name="password" value="${dataSource.password}"/>
	</bean>
	
	<bean id="hibernateConfig">
		<property name="properties">
			<props merge="true">
				<!--
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.DB2Dialect</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				-->
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto"></prop>
			</props>
		</property>
	</bean>
</beans>
